doctype html
html
  head
    title Mandeep Singh Dance Academy
    block scripts
    block style

      
body
    nav#navbar
            ul 
                div#logo 
                    img(src="../static/images/d4.png", alt="")
                    | MDA 
                li #[a(href = "/") Home]
                li #[a(href = "/") About]
                li #[a(href = "/") Services]
                li #[a(href = "/") Class Info]
                li #[a(href = "/contact") Contact Us ]
    block content

    footer#footer 
            | Copyright &copy  2022 MandeepSingh'sAcademy.com | All Rights Rservered!